:root {
    --background-color: hsl(180 95% 95%);
    --input-color: hsl(180 95% 75%);
    --foreground-color: hsl(180 10% 10%);
    --button-color: hsl(220 100% 10%);
    --button-text: hsl(220 10% 90%);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* Size font (1rem = 10px) */

html {
    font-size: 62.5%;
}

/* Custom font styling */

body {
    font-size: 1.9rem;
    font-family:
        'Reddit Sans',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

/* Reset list margins */

ul,
ol {
    margin: 0;
    padding: 0;
}

.form {
    width: 50%;
    margin-bottom: 6rem;
}

.form-row {
    display: flex;
    width: auto;
}

.search {
    padding: 1rem;
    background-color: var(--input-color);
    color: var(--foreground-color);
    border: none;
    flex: 1;
}

.search-button {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
}

.weather {
    transition: all 300ms ease-in;
    display: flex;
    opacity: 1;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 1rem;
}

.weather.hidden {
    visibility: hidden;
    opacity: 0;
}
